/* starting by importing a font from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&family=Roboto+Condensed:wght@300&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk';
}

body{
    background: green;
}
.hide{
    display:none
}
.start_btn
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
,
.info_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Styling for start button */
.start_btn{
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15 px 30 px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: red;
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: brown;
    border-radius: 5px;
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid orangered;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

